@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	max-height: 100%;
	border: 5px groove #05ad1e;
	border-radius: 10px;
}
body {
	background-image: url(../images/fon.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Pacifico', cursive;
}
.content {
	background-color: #7accff;
	width: 1200px;
	margin: 0px auto;
	padding: 10px;
}
.row {
	display: flex;
}
.box {
	background-color: red;
	margin: 10px;
	padding: 20px;
	width: 100px;
	flex-grow: 1;
	border-radius: 10px;
}
.box p {
	font-size: 30px;
}
.col-1 {
	flex-grow: 1;
}
.col-2 {
	flex-grow: 2;
}
.col-3 {
	flex-grow: 3;
}
footer {
	background-color: #000000;
	color: #ffffff;
}